
# ----------------------------------------------------------------------------
# PYTHON
# ----------------------------------------------------------------------------
venv
.venv
__pycache__
*.lock

# ----------------------------------------------------------------------------
# ENVIRONEMNT VARIABLES
# ----------------------------------------------------------------------------
.env
enhanced-rite-470210-c9-4092f029b2e2.json

# ----------------------------------------------------------------------------
# DATA FILES
# ----------------------------------------------------------------------------
*.json
*.csv
*.mp4
*.wav

# ----------------------------------------------------------------------------
# OTHER
# ----------------------------------------------------------------------------
drafts/
data/
